*~
build/
/.settings
testing/functionnal/data/compare/results.jtl
.kdev4/
build-stamp
debian/files
debian/libapache2-mod-compare.debhelper.log
debian/libapache2-mod-compare.substvars
debian/libapache2-mod-compare/
debian/libapache2-mod-dup-migrate-validation.debhelper.log
debian/libapache2-mod-dup-migrate-validation.substvars
debian/libapache2-mod-dup-migrate-validation/
debian/libapache2-mod-dup.debhelper.log
debian/libapache2-mod-dup.substvars
debian/libapache2-mod-dup/
debian/libapache2-mod-migrate.debhelper.log
debian/libapache2-mod-migrate.substvars
debian/libapache2-mod-migrate/
debian/libws-diff.debhelper.log
debian/libws-diff.substvars
debian/libws-diff/
debian/tmp/
mod_dup.kdev4
install-stamp
testing/functionnal/data/compare/jmeter.log
