DupDestination "localhost:8043"
DupQueue 1 1000
DupThreads 1 40
DupTimeout 300

<Location />
	# Activates mod_dup on this location
    SetInputFilter Dup

    DupUrlCodec apache

    # Filter matches if the reg exp matches the content of field GetData in the request HEADER
    DupFilter "GetData" "\\<(someword|Something else)\\>"

    DupApplicationScope BODY
    # Filter matches if the reg exp matches the content of field PostData in the request BODY
    DupFilter "PostData" "\\<(a|b|C)\\>"

    DupApplicationScope ALL
    DupDuplicationType RESPONSE
    # Filter matches if the reg exp matches the content of field AnyData in any request
    DupFilter "AnyData" "\\<(a|b|C)\\>"

    # DupSubstitute <field> <regexp> <subst> tells mod_tee to replace the matches of <regexp> with <subst> in the field <field>.
    # Substitutions are all executed in the order they are defined in
    DupSubstitute "GetData" "[Ss]ome" "any"
    DupSubstitute "PostData" "(.*)" "quoted: '$&'"

    Order deny,allow
    Allow from all
</Location>
