Source: pns-mod-dup
Section: pns/cpp
Priority: optional
Build-Depends: cmake, debhelper (>= 5.0.0),
                libcurl4-openssl-dev,
                libboost-thread-dev (>= 1.40) | libboost-regex1.40-dev | libboost-regex1.46-dev | libboost-regex1.48-dev,
                libboost-regex-dev (>= 1.40) | libboost-regex1.40-dev | libboost-regex1.46-dev | libboost-regex1.48-dev,
                libboost-dev | libboost1.48-dev | libboost1.40-dev | libboost1.46-dev,
                libapr1-dev,
                libboost-serialization-dev (>= 1.40) | libboost-serialization1.40-dev | libboost-serialization1.46-dev | libboost-serialization1.48-dev,
                libboost-thread (>= 1.40) | libboost-thread1.40.0 | libboost-thread1.46.1 | libboost-thread1.48.0,
                libaprutil1-dev,
                apache2-threaded-dev,
                apache2,
                python-pycurl,
                gcc (>= 4.4.3),
                libcppunit-dev,
                lcov
Maintainer: Clarens Caraccio <ccaraccio.ext@orange.com>
Standards-Version: 3.7.2

Package: libapache2-mod-dup
Architecture: any
Depends: ${misc:Depends},
         libboost-regex (>= 1.40) | libboost-regex1.40.0| libboost-regex1.46 | libboost-regex1.48,
         libapr1,
         libboost-serialization (>= 1.40) | libboost-serialization1.40 | libboost-serialization1.46 | libboost-serialization1.48,
         libboost-thread (>= 1.40) | libboost-thread1.40.0 | libboost-thread1.46.1 | libboost-thread1.48.0,
         libaprutil1,
         apache2,
         apache2.2-bin
Conflicts: libapache2-mod-tee
Description: Apache module which duplicates requests to another server
Homepage: http://sourceforge.x-echo.com/projects/pns/

Package: libapache2-mod-compare
Architecture: any
Depends: ${misc:Depends},
         libboost-regex (>= 1.40) | libboost-regex1.40.0 | libboost-regex1.46 | libboost-regex1.48,
         libapr1,
         libboost-serialization (>= 1.40) | libboost-serialization1.40 | libboost-serialization1.46 | libboost-serialization1.48,
         libboost-thread (>= 1.40) | libboost-thread1.40.0 | libboost-thread1.46.1 | libboost-thread1.48.0,
         libaprutil1,
         apache2,
         apache2.2-bin,
         libws-diff
Description: Apache module which compares responses of the duplicated requests
Homepage: http://sourceforge.x-echo.com/projects/pns/

Package: libapache2-mod-migrate
Architecture: any
Depends: ${misc:Depends},
         libboost-regex (>= 1.40) | libboost-regex1.40.0| libboost-regex1.46 | libboost-regex1.48,
         libapr1,
         libboost-serialization (>= 1.40) | libboost-serialization1.40 | libboost-serialization1.46 | libboost-serialization1.48,
         libboost-thread (>= 1.40) | libboost-thread1.40.0 | libboost-thread1.46.1 | libboost-thread1.48.0,
         libaprutil1,
         apache2,
         apache2.2-bin
Description: Apache module which migrates requests from a server to another
Homepage: http://sourceforge.x-echo.com/projects/pns/

Package: libapache2-mod-dup-migrate-validation
Architecture: any
Depends: python-pycurl
Description: Validation files necessary for non reg tests

Package: libws-diff
Architecture: any
Depends: cmake, debhelper (>= 5.0.0),
	libboost-regex1.40.0 | libboost-regex1.46.1
Description: C++ string diffing tool
 Homepage: https://github.com/Orange-OpenSource/mod_dup
