ServerRoot "{{ROOT}}/apache2/"
PidFile "{{ROOT}}/apache.pid"
Listen 8042

CoreDumpDirectory  "{{ROOT}}"

LoadModule authn_file_module {{APACHE_MODS}}modules/mod_authn_file.so
LoadModule authn_dbm_module {{APACHE_MODS}}modules/mod_authn_dbm.so
LoadModule authn_anon_module {{APACHE_MODS}}modules/mod_authn_anon.so
LoadModule authn_dbd_module {{APACHE_MODS}}modules/mod_authn_dbd.so
LoadModule authn_default_module {{APACHE_MODS}}modules/mod_authn_default.so
LoadModule authz_host_module {{APACHE_MODS}}modules/mod_authz_host.so
LoadModule authz_groupfile_module {{APACHE_MODS}}modules/mod_authz_groupfile.so
LoadModule authz_user_module {{APACHE_MODS}}modules/mod_authz_user.so
LoadModule authz_dbm_module {{APACHE_MODS}}modules/mod_authz_dbm.so
LoadModule authz_owner_module {{APACHE_MODS}}modules/mod_authz_owner.so
LoadModule authz_default_module {{APACHE_MODS}}modules/mod_authz_default.so
LoadModule auth_basic_module {{APACHE_MODS}}modules/mod_auth_basic.so
LoadModule auth_digest_module {{APACHE_MODS}}modules/mod_auth_digest.so
LoadModule dbd_module {{APACHE_MODS}}modules/mod_dbd.so
LoadModule dumpio_module {{APACHE_MODS}}modules/mod_dumpio.so
LoadModule ext_filter_module {{APACHE_MODS}}modules/mod_ext_filter.so
LoadModule include_module {{APACHE_MODS}}modules/mod_include.so
LoadModule filter_module {{APACHE_MODS}}modules/mod_filter.so
LoadModule substitute_module {{APACHE_MODS}}modules/mod_substitute.so
LoadModule deflate_module {{APACHE_MODS}}modules/mod_deflate.so
LoadModule log_forensic_module {{APACHE_MODS}}modules/mod_log_forensic.so
LoadModule env_module {{APACHE_MODS}}modules/mod_env.so
LoadModule mime_magic_module {{APACHE_MODS}}modules/mod_mime_magic.so
LoadModule cern_meta_module {{APACHE_MODS}}modules/mod_cern_meta.so
LoadModule expires_module {{APACHE_MODS}}modules/mod_expires.so
LoadModule headers_module {{APACHE_MODS}}modules/mod_headers.so
LoadModule ident_module {{APACHE_MODS}}modules/mod_ident.so
LoadModule usertrack_module {{APACHE_MODS}}modules/mod_usertrack.so
LoadModule setenvif_module {{APACHE_MODS}}modules/mod_setenvif.so
LoadModule version_module {{APACHE_MODS}}modules/mod_version.so
LoadModule proxy_module {{APACHE_MODS}}modules/mod_proxy.so
LoadModule proxy_connect_module {{APACHE_MODS}}modules/mod_proxy_connect.so
LoadModule proxy_ftp_module {{APACHE_MODS}}modules/mod_proxy_ftp.so
LoadModule proxy_http_module {{APACHE_MODS}}modules/mod_proxy_http.so
LoadModule proxy_scgi_module {{APACHE_MODS}}modules/mod_proxy_scgi.so
LoadModule proxy_ajp_module {{APACHE_MODS}}modules/mod_proxy_ajp.so
LoadModule proxy_balancer_module {{APACHE_MODS}}modules/mod_proxy_balancer.so
LoadModule mime_module {{APACHE_MODS}}modules/mod_mime.so
LoadModule dav_module {{APACHE_MODS}}modules/mod_dav.so
LoadModule status_module {{APACHE_MODS}}modules/mod_status.so
LoadModule autoindex_module {{APACHE_MODS}}modules/mod_autoindex.so
LoadModule asis_module {{APACHE_MODS}}modules/mod_asis.so
LoadModule info_module {{APACHE_MODS}}modules/mod_info.so
LoadModule cgid_module {{APACHE_MODS}}modules/mod_cgid.so
LoadModule cgi_module /usr/lib/apache2/modules/mod_cgi.so
LoadModule dav_fs_module {{APACHE_MODS}}modules/mod_dav_fs.so
LoadModule vhost_alias_module {{APACHE_MODS}}modules/mod_vhost_alias.so
LoadModule negotiation_module {{APACHE_MODS}}modules/mod_negotiation.so
LoadModule dir_module {{APACHE_MODS}}modules/mod_dir.so
LoadModule imagemap_module {{APACHE_MODS}}modules/mod_imagemap.so
LoadModule actions_module {{APACHE_MODS}}modules/mod_actions.so
LoadModule speling_module {{APACHE_MODS}}modules/mod_speling.so
LoadModule userdir_module {{APACHE_MODS}}modules/mod_userdir.so
LoadModule alias_module {{APACHE_MODS}}modules/mod_alias.so
LoadModule rewrite_module {{APACHE_MODS}}modules/mod_rewrite.so
#LoadModule log_config_module {{APACHE_MODS}}modules/mod_log_config.so

ScriptSock /tmp/cgid_dup_fct.sock

<IfModule worker.c>
  StartServers            1
</IfModule>

<IfModule !mpm_netware_module>
<IfModule !mpm_winnt_module>
User daemon
Group daemon
</IfModule>
</IfModule>

Timeout 5
ProxyTimeout 5

ServerAdmin tee@localhost
DocumentRoot "{{ROOT}}/apache2/htdocs"

#LoadModule dup_module {{BIN}}/mod_dup.so
LoadModule compare_module {{BIN}}/mod_compare.so

ErrorLog "logs/error_log"
LogLevel debug

<IfModule log_config_module>
    #
    # The following directives define some format nicknames for use with
    # a CustomLog directive (see below).
    #
    LogFormat "%h %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\"" combined
    LogFormat "%h %l %u %t \"%r\" %>s %b %D" common

    <IfModule logio_module>
      # You need to enable mod_logio.c to use %I and %O
      LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %I %O" combinedio
    </IfModule>

    #
    # The location and format of the access logfile (Common Logfile Format).
    # If you do not define any access logfiles within a <VirtualHost>
    # container, they will be logged here.  Contrariwise, if you *do*
    # define per-<VirtualHost> access logfiles, transactions will be
    # logged therein and *not* in this file.
    #
    CustomLog "logs/access_log" common

    #
    # If you prefer a logfile with access, agent, and referer information
    # (Combined Logfile Format) you can use the following directive.
    #
    #CustomLog "logs/access_log" combined
</IfModule>
DefaultType text/plain

Options +ExecCGI
ScriptAlias /get_body_size {{ROOT}}/apache2/htdocs/cgi_bin/get_body_size.cgi
ScriptAlias /get_body_size_direct {{ROOT}}/apache2/htdocs/cgi_bin/get_body_size.cgi

#Include "{{CONF}}/dup.conf"
Include "{{CONF}}/compare.conf"
